/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/hot
/public/css/app.css
/public/fonts -r
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.idea/workspace.xml
/**/.idea/workspace.xml
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
storage/app/public/.DS_Store
